<h3>Dodaj nowego wojownika</h3>
<p>Musisz przydzielić łącznie 10 pkt. Imię musi być unikalne.</p>
<form action="/add" method="POST">
    <label>
        Imię
        <input name="name" type="text">
    </label>
    <label>
        Siła
        <input name="strength" type="number">
    </label>
    <label>
        Obrona
        <input name="defense" type="number">
    </label>
    <label>
        Wytrzymałość
        <input name="endurance" type="number">
    </label>
    <label>
        Zwinność
        <input name="agility" type="number">
    </label>

    <button type="submit">Dodaj</button>
</form>
