<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ARENA</title>
</head>
<body>
<h1>Witaj na Arenie!</h1>
<header>
<nav>
    <form action="/arena" method="GET">
        <button type="submit">Idź do Areny</button>
    </form>
    <form action="/warrior" method="GET">
        <button type="submit">Idź do kreacji nowego wojownika</button>
    </form>
    <form action="/fame" method="GET">
        <button type="submit">Idź do hali fejmu</button>
    </form>
</nav>
</header>
<hr>
{{{body}}}
</body>
</html>
