<h2>Lista Wojowników - tu wybierasz pary do walk</h2>
<h3>Pamiętaj, możesz wybrać dowolnych dwóch wojowników, lecz nie tych samych.</h3>
<ul>
        <form action="/fight" method="POST">
            <select name="war1Id">
                {{#each allWarriors}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
            <select name="war2Id">
                {{#each allWarriors}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>

        <button type="submit">WALCZ</button>
        </form>
</ul>
<hr>
{{>add-new-warrior}}
<hr>
<form action="/fame" method="GET">
    <button type="submit">Idź do hali fejmu</button>
</form>

