<nav>
    <form action="/arena" method="GET">
        <button type="submit">Idź do Areny</button>
    </form>
    <form action="/warrior" method="GET">
        <button type="submit">Idź do kreacji nowego wojownika</button>
    </form>
    <form action="/fame" method="GET">
        <button type="submit">Idź do hali fejmu</button>
    </form>
</nav>
